django == 1.7.3
django-celery == 3.0.23
django-mediagenerator == 1.12
django-templated-email >= 0.4.7
gunicorn >= 0.14.6
eventlet >= 0.9.17
simplejson >= 2.1.6
path.py >= 2.4.1
ordereddict >= 1.1
south >= 0.7.6
pytz
pillow
