django >= 1.6,<1.7
celery == 3.1.17
django-celery == 3.1.16
django-mediagenerator == 1.11
django-templated-email == 0.4.9
gunicorn == 19.1.1
eventlet == 0.16.1
simplejson == 3.6.5
path.py == 7.0
ordereddict == 1.1
south == 1.0.2
pytz == 2014.10
pillow == 2.7.0
