/******************************************************************************
 * User login & password reset pages.
 ******************************************************************************/

body.user-login-page,
body.user-password-reset-page,
body.user-password-reset-confirm-page {
  .container {
    width: 450px;
  }
  #content {
    background-color: #F9F9F9;
    padding: 20px;
    @include border-radius(10px);
    -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    -moz-box-shadow: 0 1px 2px rgba(0,0,0,.15);
    box-shadow: 0 1px 2px rgba(0,0,0,.15);
  }
  .login-form,
  .password-reset-form,
  .password-reset-confirm-form {
    margin: 0px 50px 0px 60px;
    h2 {
      margin-bottom: 10px;
    }
    .clearfix.actions {
      margin-top: 10px;
    }
  }
}

/******************************************************************************
 * Caches > Browse.
 ******************************************************************************/

body.caches-browse-page {
  .group {
    @extend .well;
    padding-bottom: 0;
    .group-sortable-handle {
      cursor: move;
      margin-right: 10px;
    }
    label {
      text-transform: uppercase;
      display: inline-block;
      a {
        color: #333333;
      }
    }
    .nodes {
      overflow: hidden;
      margin-top: 10px;
      .node {
        @extend .box;
        background-color: white;
        padding: 10px;
        &.add {
          a {
            color: #999999;
            &:hover {
              color: #333333;
            }
            i {
              text-decoration: none;
            }
          }
        }
        &:nth-child(2n + 1) {
          margin-left: 0;
        }
        .node-sortable-handle {
          cursor: move;
          color: #999999;
          float: right;
        }
      }
    }
  }
}

/******************************************************************************
 * Users > Browse.
 ******************************************************************************/

body.users-browse-page {
  table.users {
    td, th {
      &.collection-selector {
        width: 10px;
        vertical-align: middle;
        input {
          padding: 2px;
        }
      }
      &.photo {
        width: 100px;
        .thumbnail {
          width: 80px;
          height: 80px;
          img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }
  }
}
