{% extends request.is_ajax|yesno:"ajax.html,anonymous.html" %}
{% load i18n %}
{% load url from future %}
{% load vbm_form_helpers %}
{% load vbm_widget_helpers %}

{% block title %}{% trans 'Password reset confirm' %}{% endblock %}

{% block content %}
  <div class="row">
    <div class="password-reset-confirm-form">
      <h2>{% trans 'Select new password' %}</h2>
      {% form_errors form %}
      <form class="ajax" data-url="{{ url }}">
        <fieldset>
          <div class="row-fluid">
            {% form_cgroup form.new_password1 'clearfix' %}
              <div class="input-prepend">
                <span class="add-on"><i class="font-awesome font-awesome-lock"></i></span>{{ form.new_password1|add_class:"span12" }}
              </div>
              {% form_ferrors form.new_password1 'inline' %}
            {% endform_cgroup %}

            {% form_cgroup form.new_password2 'clearfix' %}
              <div class="input-prepend">
                <span class="add-on"><i class="font-awesome font-awesome-lock"></i></span>{{ form.new_password2|add_class:"span12" }}
              </div>
              {% form_ferrors form.new_password2 'inline' %}
            {% endform_cgroup %}

            <div class="clearfix actions pull-right">
              <a href="{% url 'user-login' %}" class="navigation btn"><i class="icon-arrow-left"></i> {% trans 'Cancel' %}</a>
              <button class="btn btn-primary" type="submit"><i class="icon-ok icon-white"></i> {% trans 'Change password' %}</button>
            </div>
          </div>
        </fieldset>
      </form>
    </div>
  </div>
{% endblock %}
