{% extends "varnish-bans-manager/core/caches/layout.html" %}
{% load i18n %}

{% block title %}{% trans 'Caches' %} > {% trans 'Add group' %}{% endblock %}

{% block sidebar_section %}groups-add{% endblock %}

{% block sidebar_content %}
  <div class="page-header">
    <h1>
      {% trans 'Add group' %}
      <small>{% trans 'Create groups to organize cache nodes' %}</small>
    </h1>
  </div>

  <div id="breadcrumb">
    <i class="font-awesome font-awesome-home"></i>
    <span class="item">{% trans 'Caches' %}</span>
    <a href="{% url 'caches-groups-add' %}" class="navigation current">{% trans 'Add group' %}</a>
  </div>

  <div class="row-fluid">
    {% url 'caches-groups-add' as form_url %}
    {% include 'varnish-bans-manager/core/caches/groups/_edit_form.html' with form=form form_url=form_url only %}
  </div>
{% endblock %}