{% extends "varnish-bans-manager/core/bans/layout.html" %}
{% load i18n %}
{% load vbm_base_helpers %}
{% load vbm_widget_helpers %}
{% load vbm_form_helpers %}

{% block title %}{% trans 'Bans' %} > {% trans 'Basic' %}{% endblock %}

{% block sidebar_section %}basic{% endblock %}

{% block sidebar_content %}
  <div class="page-header">
    <h1>
      {% trans 'Submit ban' %}
      <small>{% trans 'Invalidate contents currently in the cache' %}</small>
    </h1>
  </div>

  <div id="breadcrumb">
    <i class="font-awesome font-awesome-home"></i>
    <span class="item">{% trans 'Bans' %}</span>
    <a href="{% url 'bans-basic' %}" class="navigation current">{% trans 'Basic' %}</a>
  </div>

  <div class="row-fluid">
    <div class="widget-box">
      <div class="widget-title">
        <span class="icon"><i class="icon-cog"></i></span>
        <h3>{% trans 'Set and submit your ban' %}</h3>
      </div>
      <div class="widget-content">
        <form class="ajax nomargin" data-url="{% url 'bans-basic' %}">
          {% form_cgroup form.url 'span8' %}
            {{ form.url.label_tag }}
            <div class="controls">
              <div class="input-prepend">
                <span class="add-on"><i class="font-awesome font-awesome-globe"></i></span>
                {{ form.url|add_class:"span12" }}
              </div>
            </div>
            {% form_ferrors form.url 'block' %}
          {% endform_cgroup %}

          {% form_cgroup form.target 'span4' %}
            {{ form.target.label_tag }}
            <div class="controls">
              {{ form.target|add_class:"span12" }}
            </div>
            {% form_ferrors form.target 'block' %}
          {% endform_cgroup %}

          <div class="pull-right">
            <button class="btn btn-primary" type="submit"><i class="icon-ok icon-white"></i> {% trans 'Submit' %}</button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
